@media only screen and (max-width:1024px)
{

    footer img {
        width: 172px;
        height: 172px;
        margin: 0px 8px;
    }
    

    .foot {
        width: 50px;
        height: 49px;
        margin: 2px 35px;
        box-shadow: 27px 17px 17px black;
    }
    .vellore img {
        height: 112px;
        width: 280px;
        margin: 18px 0px 0px 20px;
    }
    #navbar ul li a {
        padding: 4px 32px;
        
    }
    .about p {
        font-size: 30px;
    }
    #about {
        font-size: 43px;  
    }
}

@media only screen and (max-width:360px)
{
    footer {
        display: flex;
        align-items: center;
        background-color: rgb(39, 38, 38);
        height: 600px;
        flex-direction: column;
        width: 255%;
    }
    footer img {
        width: 260px;
        height: 260px;
        margin: 15px 0px;
    }
    .foot-img {
        /* border: 2px solid white; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 43px;
    }
    .foot img {
        height: 71px;
        width: 71px;
        margin: 0px 0px;
    }
    .vellore img {
        height: 122px;
        width: 290px;
        margin: 73px 0px 27px 0px;
    }
    .about p {
        font-size: 25px;
    }
    #about {
        font-size: 35px;
    }
    #mem-title {
        color: orangered;
        text-align: center;
        margin-top: 45px;
        margin-bottom: 20px;
        font-size: 30px;
        font-family: 'Reggae One', cursive;
    }
    #navbar{
        flex-direction: column;
        overflow: hidden;
        width: 255%;
    }
    #slider{
        
        overflow: hidden;
        
    }
    #navbar ul li a {
        padding: 26px 16px;
    }
    #navbar ul li {
        font-size: 29px;
    }
    #logo img {
        height: 106px;
        width: 147px;
        margin: 12px 6px;
    }
    .home {
        width: 255%;
    }
    #navbar ul li a {
        padding: 26px 22px;
    }
    .member-1{
        display: flex;
        justify-content: center;
        width: fit-content;
        
    }
    .member-2{
        display: flex;
        justify-content: center;
        width: fit-content;
    }
    .member-3{
        display: flex;
        justify-content: center;
        width: 255%;
        
    }
    .outer-box {
        display: flex;
        border: 2px solid black;
        height: 283px;
        width: 190px;
        margin: 32px 17px;
        justify-content: center;
        box-shadow: 18px 18px 20px black;
        background-color: rgb(39, 38, 38);
    }
    #mem-title {
        color: orangered;
        text-align: center;
        margin-top: 45px;
        margin-bottom: 36px;
        font-size: 42px;
        font-family: 'Reggae One', cursive;
        width: 255%;
    }
    #about {
        width: 255%;
        font-size: 42px;
    }
    .about p {
        font-size: 33px;
        width: 255%;
    }
   

