@media screen and (max-width:1427px)
{
    body{
        background-color: brown;
    }
    #navbar{
       
    }
    #navbar ul li a {
        
       
        padding: 10px 21px;
    }



    .home{
        

        
    }
    #slider{
    
  
    }


    
    #mem-title {
        
        
        text-align: center;
        
        font-size: 44px;
       
    }

    .member-1{
        overflow: hidden;
        
    
       
    }
    .member-2{
        
        
    
    }
    .member-3{
        
       
        
    
    }
    .outer-box {
        margin: 32px 24px;
    }
    
    .inner-box{
       
    }
    .res-1{
    
        border: 5px solid green;
    }


    
footer{
    overflow: hidden;
    flex-direction: column;
    height: 150%;;
}

footer img{
    
    
}


.foot-img{
   
} 

.foot{
   
}

.foot img{
}
.vellore{
 
}
.vellore img{
  
}

#about {
    
    text-align: center;
    font-size: 44px;
    
    
}
.about p{
    
    font-size: 24px;
    text-align: center;

}
        
}
/* ---------------------------------------------------------------------------------------------------- */

@media screen and (max-width:845px)
{
    body{
        background-color: rgb(50, 42, 165);
    }
    #navbar ul li a {
        padding: 10px 21px;
    }
    #navbar ul li {
        list-style: none;
        font-size: 18px;
    }
    #mem-title {
        text-align: center;
        font-size: 34px;  
    }
    .outer-box {
        margin: 32px 9px;    
    }
    
    footer{
        overflow: hidden;
        flex-direction: column;
        height: 150%;;
    }
    #about {
        text-align: center;
        font-size: 34px;  
    }
    .about p{
        font-size: 25px;
        text-align: center;
    }
        
}